@import '_variables';

@mixin content_wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 2rem 2.5rem;

  @media (max-width: $MQNarrow) {
    padding: 2rem;
  }

  @media (max-width: $MQMobileNarrow) {
    padding: 1.5rem;
  }
}

@mixin home_wrapper {
  padding: 0 3rem;

  @media (max-width: $MQNarrow) {
    padding: 0 2rem;
  }

  @media (max-width: $MQMobileNarrow) {
    padding: 0 1.5rem;
  }
}

@mixin dropdown_wrapper {
  transition: height 0.1s ease-out;
  overflow: hidden;
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hide_scrollbar {
  // Chrome, Safari
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
  // IE
  -ms-overflow-style: none;
  // Firefox
  scrollbar-width: none;
}

@mixin line_clamp($value) {
  display: -webkit-box;
  -webkit-line-clamp: $value;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
