@import '../_mixins';
@import '../_variables';

.about {
  .img-wrapper {
    position: relative;
    height: 20rem;
    .banner {
      position: absolute;
      width: 100%;
      height: 19rem;
      object-fit: cover;
      opacity: 0.9;
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }
    .avatar {
      position: absolute;
      border-radius: 50%;
      width: 10rem;
      left: 2.5rem;
      bottom: 0;
      &:hover {
        animation: rotating 2s linear infinite;
      }
    }
  }

  .text-wrapper {
    @include home_wrapper;
    margin-top: 2rem;
    margin-bottom: 1rem;
    // padding: 2rem var(--home-padding-x) 1rem;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 14px;
      padding-top: 12px;
    }
  }
}

@media (max-width: $MQMobile) {
  .about {
    .img-wrapper {
      height: 12rem;
      .banner {
        height: 11rem;
      }
      .avatar {
        width: 5rem;
      }
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
