@import '../_mixins';
@import '../_variables';

.menu {
  .menu-item-list {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--c-border);
    .menu-item {
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      padding: 0.4rem 0.5rem;
      margin-right: 7rem;
      font-size: 1.25rem;
      line-height: 1.75rem;
      cursor: pointer;
      transition: color 0.5s ease;
      color: var(--c-link);
      &.router-link-active {
        color: var(--c-link-active);
        font-weight: 600;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      &:hover {
        color: var(--c-link-active);
      }
    }
  }
}

@media (max-width: $MQMobile) {
  .menu .menu-item-list {
    justify-content: space-around;
    .menu-item {
      margin-right: 0;
    }
  }
}
