@import '../_mixins';
@import '../_variables';

.post-list-wrapper {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1.75rem;
  .post-item {
    background-color: var(--c-bg-light);
    border-radius: 1rem;
    text-align: center;
    padding: 15% 10% 25%;
    filter: drop-shadow(0 10px 10px var(--c-shadow))
      drop-shadow(0 4px 4px var(--c-shadow));

    .cover {
      position: relative;
      padding-top: 75%;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 0.75rem;
      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: all 0.7s ease-in-out;
        &:hover {
          transform: scale(1.15);
        }
      }
    }
    .title {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 600;
      margin-top: 20%;
      &:hover,
      &:focus {
        text-decoration: none;
        color: var(--c-text-slate-50);
      }
    }
    .description {
      @include line_clamp(2);
      margin-top: 10%;
      font-weight: 400;
    }
  }
}

@media (max-width: $MQNarrow) {
  .post-list-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: $MQMobile) {
  .post-list-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    .post-item {
      .title {
        font-size: 16px;
      }
      .description {
        font-size: 14px;
      }
    }
  }
}

// @media (max-width: $MQMobileNarrow) {
//   .post-list-wrapper {
//     grid-template-columns: repeat(1, minmax(0, 1fr));
//     .post-item {
//       display: flex;
//       flex-direction: row;
//       padding: 10% 10% 10%;
//     }
//   }
// }
